# Flutter
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Android
android/.gradle/
android/app/build/
*.iml
.gradle
/local.properties

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.build/
ios/build/
ios/.generated/

# Xcode
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/
*.xcworkspace

# Web
web/.dart_tool/
web/build/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
macos/build/

# Windows
windows/Flutter/ephemeral/
windows/build/

# Linux
linux/flutter/ephemeral/
linux/build/

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Env / Keys / Secrets
.env
*.key
*.pem

# Otros
*.log
*.tmp
*.swp
*.DS_Store
